@import "tailwindcss";

@layer base {
  @font-face {
    font-family: vazir;
    src: url("/packages/fonts/vazir/Vazir-FD-WOL.ttf");
  }

  input[type="number"] {
    appearance: textfield;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply m-0 appearance-none;

    -webkit-appearance: none;
  }

  input,
  textarea,
  select,
  dialog,
  button {
    @apply outline-none;
  }

  :is(input, button, textarea, select):is(:-webkit-autofill, :autofill) {
    @apply bg-clip-text;
  }

  .dark :is(input, button, textarea, select):is(:-webkit-autofill, :autofill) {
    -webkit-text-fill-color: var(--color-white);
  }

  *::selection {
    @apply bg-indigo-500 text-white;
  }

  body::-webkit-scrollbar {
    @apply w-[15px] bg-indigo-50;
  }

  body::-webkit-scrollbar-thumb {
    @apply rounded-full border-4 border-indigo-50 bg-indigo-500;
  }

  body::-webkit-scrollbar-track {
    @apply hidden;
  }

  .dark::-webkit-scrollbar {
    @apply bg-gray-900;
  }

  .dark::-webkit-scrollbar-thumb {
    @apply border-gray-900;
  }

  /* for theme change animation */
  body * {
    @apply transition-colors duration-500;
  }
}

@layer utilities {
  .h-screen {
    height: 100dvh;
  }

  .w-screen {
    width: 100dvw;
  }
}

@layer components {
  .app-container {
    @apply min-h-screen overflow-x-hidden bg-indigo-50 p-8 dark:bg-gray-900;
  }
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --default-font-family: vazir;
  --font-vazir: vazir;
}
